---
layout: default
title: Events
---

  {% comment %}Set variables for events system{% endcomment %}
  {% capture currentDate %}{{ site.time | date: '%F' }}{% endcapture %}
  {% assign sorted_events = (site.events | sort: 'startdate') %}

  <h2>Upcoming Events</h2>
  <ul class="itemlist">
  {% for event in sorted_events %}
  {% capture startdate %}{{ event.startdate | date: '%F' }}{% endcapture %}
  {% if startdate > currentDate %}
    <li>{{ event.startdate | date_to_string }} <a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></li>{% endif %}
  {% endfor %}
  </ul>
  <h2>Past Events</h2>
  <ul class="itemlist">
  {% for event in sorted_events %}
  {% capture startdate %}{{ event.startdate | date: '%F' }}{% endcapture %}
  {% if startdate < currentDate %}
    <li>{{ event.startdate | date_to_string }} <a href="{{ site.baseurl }}{{ event.url }}">{{ event.title }}</a></li>
	{% endif %}
  {% endfor %}</ul>