---
title: News
layout: default
summary: Latest news from the Aylestone Allotment Society.
---

{% for post in paginator.posts %}
<div class="teaser">
  <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
  <div class="content">
	{% if post.summary == null %}
    {{ post.content | strip_html | truncatewords: 25 }}
	{% else %}
	{{ post.summary }}
	{% endif %}
  </div>
</div>
{% endfor %}

<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Previous</a></li>
  {% else %}
  {% endif %}
  <li><span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
  {% if paginator.next_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a></li>
  {% else %}
  {% endif %}
  </ul>
</div>