<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer-links footer-links-content">
			<h4>Content</h4>
			<ul>{% for nav in site.data.footer-content-links %}
				<li>
					<a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="footer-links footer-links-legal">
			<h4>Legal</h4>
			<ul>{% for nav in site.data.footer-legal-links %}
				<li>
					<a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="footer-links footer-links-social">
			<h4>Follow us</h4>
			<ul>
				{% if site.twitter != "" %}<li><a href="http://www.twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a></li>{% endif %}
				{% if site.facebook != "" %}<li><a href="http://www.facebook.com/{{ site.facebook }}">Visit our Facebook page</a></li>{% endif %}
				{% if site.instagram != "" %}<li><a href="http://www.instagram.com/{{ site.instagram }}">{{ site.instagram }}</a></li>{% endif %}
			</ul>
		</div>
		<div class="footer-copyright">
			<p>{{ site.copyright }}</p>
		</div>
  														   
	</div>
</footer>