	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ site.description }}">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script type="text/javascript">
		  WebFont.load({
		    google: {
		      families: ['Bitter:700:latin','Merriweather:400:latin']
		    }
		  });
		</script>
		<style type="text/css">
		  .wf-loading body { visibility: hidden; }
		  .wf-active body, .wf-inactive body { 
		    visibility: visible; font-family: 'Merriweather'; 
		  }
		  .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4,  { visibility: hidden; }
		  .wf-active h1, .wf-active h2,.wf-active h3,.wf-active h4, .wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4 { 
		    visibility: visible; font-family: 'Bitter'; 
		  }
		</style>
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/application.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
	<body>
	<header class="navigation" role="banner">
	  <div class="navigation-wrapper">
	    <a href="{{ site.baseurl }}/" class="logo">AALGS</a>
	    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
	    <nav role="navigation">
	      <ul id="js-navigation-menu" class="navigation-menu show">
			 {% for nav in site.data.nav %}
	        <li class="nav-link{% if nav.subcategories != null %} more{% endif %}"><a href="{% if nav.subcategories != null %}javascript:void(0){% else %}{{ site.baseurl }}{{ nav.href }}{% endif %}">{{ nav.title }}{% if nav.subcategories != null %}<span class="caret"></span>{% endif %}</a>{% if nav.subcategories != null %}<ul class="submenu">{% for subcategory in nav.subcategories %}
    <li class="nav-link"><a href="{{ site.baseurl }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}</ul>{% endif %}</li>
			{% endfor %}
	      </ul>
	    </nav>
	  </div>
	</header>