// Layout
// ------
// Using a negative margin technique, adapted from ZEN. The page is loaded by this order:

// 1. Header
// 2. Content
// 3. Navigation menus
// 4. Sidebar Left
// 5. Sideabr Right
// Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.)

.container {
  @include outer-container;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

#content {
  .no-sidebars & {
    // 100% width for mobile devices.
    @include media($mobile) {
      @include fill-parent;
    }

    // Same logic for tablets.
    @include media($tablet) {
      @include span-columns(8);
    }

    @include media($desktop) {
      @include span-columns(12);
    }
  }
  .one-sidebar.sidebar-second & {
    // 100% width for mobile devices.
    @include media($mobile) {
      @include fill-parent;
    }

    // Same logic for tablets.
    @include media($tablet) {
      @include span-columns(5);
    }

    @include media($desktop) {
      @include span-columns(8);
    }
  }
  .one-sidebar.sidebar-first & {
    // 100% width for mobile devices.
    @include media($mobile) {
      @include fill-parent;
    }

    @include media($tablet) {
      @include span-columns(5);
      @include shift(5);
    }

    @include media($desktop) {
      @include span-columns(8);
      @include shift(4);
    }
  }
  .two-sidebars & {
    // 100% width for mobile devices.
    @include media($mobile) {
      @include fill-parent;
    }

    // Same logic for tablets.
    @include media($tablet) {
      @include span-columns(4);
      @include shift(2);
    }

    // Span this div 7 columns wide.
    @include media($desktop) {
      @include span-columns(8);
      // Shift it to the right 2 columns to accommodate for the first sidebar.
      @include shift(3);
    }
  }
}

#sidebar-first {
  // 100% width for mobile devices.
  @include media($mobile) {
    @include fill-parent;
  }

  // Similar logic for tablets.
  @include media($tablet) {
    @include span-columns(3);
    @include shift(-5);
    .sidebar-first & {
      @include shift(-8);
    }
  }

  @include media($desktop) {
    @include span-columns(4);
    @include shift(-8);
    .sidebar-first & {
      @include shift(-12);
    }
  }
}

#sidebar-second {
  // 100% width for mobile devices.
  @include media($mobile) {
    @include fill-parent;
  }

  // Similar logic for tablets.
  @include media($tablet) {
    @include span-columns(3);
    @include shift(0);
  }

  @include media($desktop) {
    @include span-columns(4);
    @include shift(0);
  }
}

#footer {
  float: none;
  clear: both;
}

// Layout Helpers
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

// Columns Inner
// -------------
// You can change the padding inside the columns without changing the
// width of them by just usinbg the INNER div of each column
.inner {
  padding: 0;
}

// Navigation styles
#navigation {
  li {
    list-style-type: none;
    display: inline-block;
  }
}
