---
title: Our Team
layout: subpage
summary: Learn about the AALGS committee
---

<div class="profiles">
{% for profile in site.data.profiles %}
<div class="profile">
<div class="profile-img"><img src="{{ site.baseurl }}{{ profile.img }}"></div>
<div class="profile-content">
{% if profile.name != null%}<h3>{{ profile.name }}</h3>{% endif %}
{% if profile.role != null%}<div>{{ profile.role }}</div>{% endif %}
{% if profile.website != null%}<div><a href="{{ profile.website }}">{{ profile.website }}</a></div>{% endif %}
{% if profile.twitter != null%}<div><a href="http://www.twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</div>{% endif %}
{% if profile.email != null%}<div><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></div>{% endif %}
</div>
</div>
{% endfor %}
</div>