.block {
	border: 1px solid $medium-gray;
	@include pad(flex-gutter()*2);
	margin-bottom: $base-spacing;
}

.block-default {
}

.block-primary {
	p, label, h1, h2, h3  {
		color: #fff;
	}
	background: $brand-primary;
	input[type="submit"] {
		font: 700 1em "Bitter";
		background: #fff;
		color: $brand-primary;
	}
}