.footer {
	$base-spacing: 1.5em !default;
	$action-color: #477DCA !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;
	$footer-background: desaturate(darken($action-color, 20%), 30%);
	$footer-color: white;
	$footer-link-color: transparentize($footer-color, 0.6);
	$footer-disclaimer-color: transparentize($footer-color, 0.6);

	background: $footer-background;
	padding: $base-spacing;
	width: 100%;
	display: inline-block;

	.footer-inner {
		@include outer-container;
		@include media ($horizontal-bar-mode) {
			max-width: $max-width - em($logo-image-width / 2);
		}
	}

	ul {
		line-height: 1.5em;
		margin: 0;
		padding: 0;
    
		@include media($large-screen) {
			float: left;
			line-height: 1.8em;
			margin-left: 1em;
			margin-bottom: 0;
		}
	}

	ul li {
		list-style: none;
		padding-right: 1em;

		@include media($large-screen) {
			display: inline;
			text-align: left;
		}
	}

	ul li a {
		color: $footer-link-color;
		text-decoration: none;

		&:focus,
		&:hover {
			color: transparentize($footer-color, 0);
		}
	}

	.footer-secondary-links {
		@include media($large-screen) {
			float: right;
		}

		li {
			font-size: 0.8em;
		}

		ul.footer-social {
			margin: 1em 0 0 0;

			@include media($large-screen) {
				float: right;
				margin-top: 0;
			}

			li {
				font-size: 1em;
				float: left;
				line-height: 0;
				margin: 0;
				padding-right: 0.7em;

				&:last-child {
					padding-right: 0;
				}
			}

			img {
				height: 1.6em;
				opacity: 0.7;
				padding: 1px;

				&:focus,
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}