.footer {
  $base-spacing: 1.5em !default;
  $footer-background: lighten($light-gray, 20%);
  $footer-color: desaturate(darken($footer-background, 40%), 50%);
  $footer-link-color: desaturate(darken($footer-background, 40%), 50%);
  $footer-disclaimer-color: desaturate(darken($footer-background, 40%), 50%);
  background: $footer-background;
  padding-top: $gutter*2;
  
  .footer-links {
	  padding: $gutter;
      @include media($mobile) {
        @include fill-parent;
      }

      // Same logic for tablets.
      @include media($tablet) {
        @include span-columns(8/3);
		margin-right: 0;
      }
  }
  
    .footer-copyright {
	@include fill-parent;
	}

  ul {
	  padding-left: 0;
    margin-bottom: $base-spacing * 2;
  }

  li {
    line-height: 1.5em;
    list-style: none;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: darken($footer-color, 20%);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }  

  .footer-copyright {
    padding: $gutter;
    clear: both;
    width: 100%;
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
  }
}