.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: url('');

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  margin-bottom: 1em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em 3.5em 10em 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;
      
      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 2.5em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 1em auto 1em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
        }
      }
    }
  }
}