.hero {  
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$hero-background-top: #7F99BE; 
$hero-background-bottom: #20392B;
$hero-background-color: #99d1f7;
$hero-color: desaturate(darken($hero-background-color, 50%), 50%);
$gradient-angle: 10deg;
$hero-image: '#{"" + $image-directory}/hero-home.jpg';
@include background(url($hero-image));
background-position: center bottom ;
background-repeat: no-repeat;
background-color: $hero-background-color;
background-size: auto auto;

.hero-inner {
	@include outer-container;
	@include clearfix;
	text-align: left;
	padding-bottom: 300px;
	.hero-copy {
		padding: $gutter $gutter 0 $gutter;
		h1 {
			font-size: 1.5em;
			color: $hero-color;
			line-height: 1.1em;
			a {
				color: $brand-primary;
				&:hover {
					text-decoration: none;
				}
			}
		}
		p {
			color: $hero-color;
			line-height: 1.4em;
		}
	}
}



@include media($tablet) {
	background-position: 290px top;
	height: 310px;

	.hero-inner {
		padding: $gutter 0;
		margin: 0;
		width: 390px;
		min-height: 300px;
		.hero-copy {
			@include animation-delay(2s);
			@include animation(scale 1.0s ease-in, slide 2.0s ease);
			text-align: left;
      
			h1 {
				margin-bottom: 0.5em;
			}
		}
	}
}

@include media($desktop) {
	background-position: 400px top;
	.hero-inner {
	width: 450px;
		.hero-copy {
			h1 {
				font-size: 1.8em;
			}
		}
	}
}

@include media(em(1050px)) {
	.hero-inner {
}
}

@each $name, $color in $colors {
	&.#{"" + $name} {
		.hero-copy {
			h1, h1 a {
				color: $color;
			}
			.button {
				@extend button.#{"" + $name}
			}
		}
	}
}
}