h1.title {
	color: $brand-primary;
	padding: $gutter*2 0 0 $gutter;
	margin-bottom: 0;
}

#content {
	ul {
		list-style: none;
		li {
			padding-left: 1em;
		}
		li:before {
			content: "–";
			color: $brand-primary;
			width: 5px;
			padding-right: 1em;
			margin-left: -1.65em;
		}
	}
}

article {
	padding: $gutter;
	ul {
		padding-left: $gutter;
		@extend %default-ul;
		li {
			padding-left: 0.5em;
		}
	}
	ol {
		padding-left: $gutter;
		@extend %default-ol;
		li {
			padding-left: 0.5em;
		}
	}
	
}