h1.title {
	color: $brand-primary;
	padding: $gutter*2 0 0 $gutter;
	margin-bottom: 0;
}

article {
	padding: $gutter;
	ul {
		padding-left: $gutter;
		@extend %default-ul;
		li {
			padding-left: 0.5em;
		}
	}
	ol {
		padding-left: $gutter;
		@extend %default-ol;
		li {
			padding-left: 0.5em;
		}
	}
	
}