---
# Layouts must stay in HTML
---
{% include header.html %}

<main role="main" class="page-content m-scene one-sidebar sidebar-second page-contact">
	<div  class="scene_element scene_element--fadein">
		<div class="container">
			<h1 class="title">{{ page.title }}</h1>
			<section id="content">
				<article>
					{{ content }}
				</article>
			</section>
			<aside id="sidebar-second">
			<div class="box box-default">
			<h3>Find us</h3>
			<p>You can find us at 53 Copinger Rd, Leicester, LE2 6LF</p>
			{% include googlemap.html location='53 Copinger Rd, Leicester, LE2 6LF' %}
			</div>
			</aside>
		</div>
	</div>
</main>
{% include footer.html %}
{% include closure.html %}