---
# Layouts must stay in HTML
---
{% include header.html %}
<main role="main" class="m-scene">
	<div class="scene_element scene_element--fadein">
		<header class="hero" {% if page.hero-image-url != null %}style="background-image: url('{{ page.hero-image-url }}'); background-color: {{ page.hero-image-color }};" {% endif %}>
			<div class="hero-inner">
				<div class="hero-copy">
					<h1>{{ page.title }}</h1>
					<p>{{ page.hero-copy }}</p>	
				</div>
			</div>
		</div>
	</header>
	<section class="page-content">
		<article>
			{{ content }}
		</article>
		<aside>
			{% include posts.html %}
			{% include mailchimp.html %}
		</aside>
	</section>
</div>
</main>
	
{% include footer.html %}
{% include closure.html %}