---
# Layouts must stay in HTML
---
{% include header.html %}
<main role="main" class="page-content m-scene one-sidebar sidebar-second">
	<div  class="scene_element scene_element--fadein">
		<section class="band hero-band">
		<div class="container">
			<header class="hero {{ page.hero-classes }}" {% if page.hero-image-url != null %}style="background-image: url('{{ page.hero-image-url }}');" {% endif %}>
				<div class="hero-inner">
					<div class="hero-copy">
						<h1>{{ page.title }}</h1>
						<p>{{ page.hero-copy }}</p>	
						{% if page.hero-link-copy and page.hero-link-url != "" %}
						<p><a href="{{ page.hero-link-url }}" class="button">{{ page.hero-link-copy }}</a></p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	</header>
	<div class="container">
		<section id="content">
			<article>
				{{ content }}
			</article>
		</section>
		<aside id="sidebar-second">
			{% include events.html %}
			{% include posts.html %}
			{% include mailchimp.html %}
		</aside>
	</div>
</div>
</main>
{% include footer.html %}
{% include closure.html %}