---
# Layouts must stay in HTML
---
{% include header.html %}

<main role="main" class="page-content m-scene one-sidebar sidebar-second">
	<div  class="scene_element scene_element--fadein">
		<div class="container">
			<h1 class="title">{{ page.title }}</h1>
			<section id="content">
				<article>
					{{ content }}
				</article>
				<aside>
					{% include mailchimp.html %}
				</aside>
			</section>
			<aside id="sidebar-second">
				{% include newsletters.html %}
				
			</aside>
		</div>
	</div>
</main>
{% include footer.html %}
{% include closure.html %}