#{$all-button-inputs},
button, a.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
	text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  &.white {
  color: $brand-primary;
  &:link, &:visited {
    color: $brand-primary;
  }
  background-color: #fff;
  &:hover,
  &:focus {
	  color: $brand-primary;
    background-color: darken(#fff, 15%);
	text-decoration: none;
  }
  }
  
  
  @each $name, $color in $colors {
	&.#{"" + $name} {
	    background-color: $color;
	    &:hover,
	    &:focus {
	      background-color: darken($color, 15%);
	      color: #fff;
	  	text-decoration: none;
	    }
	}
  }
}
 
a.button:link, a.button:visited,  {
	color: #fff;
}