// Variables
// ---------

// Typography

$base-font-family: "Bitter", $georgia;
$heading-font-family: "Bitter", $georgia;

// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;
$base-line-height-px: $base-line-height * $base-font-size;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #00B0F1;
$turquoise: #009EB0;
$dark-gray: #332525;
$medium-gray: #CECCC4;
$light-gray: #C6C4B9;
$green: #6AA041;
$pink: #D84A8D;
$yellow: yellow;
$purple: #9E4380;

// Name Colour Keys - used for automatically generating coloured elements. Only include required elements.
$colors: (
blue: $blue,
turqoise: $turquoise,
green: $green,
pink: $pink,
purple: $purple
);

// Brand Colours

$brand-primary: $green;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $brand-primary;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$modular-scale-base: em($em-base) !default;
$modular-scale-ratio: $minor-third;

// Image Directory

$image-directory: "../img";