// Typography
$base-font-family: "Bitter","Georgia","Cambria","Times New Roman","Times",serif;
$heading-font-family: "Bitter","Georgia","Cambria","Times New Roman","Times",serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.4;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #332525;
$medium-gray: #CECCC4;
$light-gray: #C6C4B9;
$green: #6AA041;

// Brand Colours

$brand-primary: $green;

// Font Colors
$base-background-color: #E8E5D4;
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$modular-scale-ratio: $major-third;